* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border: #222;
}


body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #050505;
    color: #060505;
    font-weight: bolder;
    font-size: 24px;
    line-height: 2.1;
  

}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: #2e2c2c;
    border-bottom: 5px solid #cec3c3;
    padding: 20px 0;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    font-family: comic sans ms;
    /*text-decoration:double underline;*/

    color: #222;
}
#lg{
    border-radius:0px 75px 20px 40px;
    width: 100px;
    display:inline;

    height: 80px;
}
.logo::first-letter{
    font-size: 36px;
    color: rgb(54, 76, 238);
    font-family:brush script mt;
    text-shadow: 2px 2px 5px rgb(1, 239, 45)
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    padding: 6px 12px;
    border-radius: 4px;
    
   

}

nav ul li a:hover {
    background-color: #ffffff;
}


.hero {
    background-color: #ffffff;
    padding: 60px 0;
    border:2px solid black;
}

.head-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 40px;
    font-family: brush script mt;
    margin-bottom: 20px;

   
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-text .btn {
    display: inline-block;
    background: #222;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all 0.3s;
}

.hero-text .btn:hover {
    background-color: #cd0a0aef;
}

.Hero-image img {
    width: 600px;
    border-radius: 20px;
    border:2px solid rgb(41, 40, 40);

}

.body-container {
    display: flex;
    justify-content: space-between;

}


.featured-products {

    margin-bottom: 40px;
}

.featured-products h2 {
    text-align: center;
    font-size: 32px;

}

.Products-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.Products-card {
    background: #252828;
    border: 2px solid #fdfcfc;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.Products-card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.Products-card img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.Products-card h3 {
    font-size: 24px;
    font-family: 'Gill Sans';
    margin-bottom: 10px;
}

.Products-card p {
    font-weight: bolder;

}


footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    border-top: 8px solid #353232;
}